<footer class="footer">
  <small>
    <a href="http://trackmymixes.com" target="_blank" alt="TrackMyMixes">Track My Mixes</a>
    by
    <a href="https://plus.google.com/u/0/116471654573031381012/posts" target="_blank" alt="Designers Google Profile">Alex Scott</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", blog_path %></li>
    </ul>
  </nav>
</footer>
